#preview {
	margin-top: 20px;
	min-height: 200px;
	width: 100%;
	background-color: #FAFAFA;
	border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    padding: 15px 30px 30px 30px;
}

#container {
	margin-top: 20px;
}

.image {
	max-height: 95px;
	padding: 5px 5px 5px 5px; 
	background-color: white;	
	border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
}

.image-container {
	padding: 5px 5px 5px 5px; 
	padding-left: 5px !important;
	padding-right: 5px !important;
}

.image img {
	max-width:100% !important;
    height: 85px;
    display:block;
}